@font-face {
  font-family: 'counter-dial';
  src: url('Counter-Dial.ttf') format('truetype');
}

#threesixfive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 340px) {
  #threesixfive {
    transform: scale(0.8);
  }
}

#counter {
  position: relative;
  font: 7.5rem 'counter-dial';
  color: black;
  margin: 2rem 0 0;
}
#counter::after {
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  background: transparent url('./img/1f950.png') no-repeat;
  background-size: contain;
  position: absolute;
  right: -60px;
  top: 30px;
}

h2,
p {
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}

#button {
  width: 250px;
  height: 80px;
  margin: 40px 0;
  border-radius: 10px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.hide {
  display: none !important;
}

.disabled {
  pointer-events: none !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  background: lightgray !important;
}
